<html>
	<head>
		<title>Database Editor</title>
	</head>
	</body>
		<h1>Add stuff to database here</h1>
		<a href="/">Click this Link to return to SecondHome</a>
		<form action="/edit" method="post">
			<h2>Select one of the faculties and enter the name of the area</h2>
				<select name="select1">
					<option value="arts and social sciences">Arts and Social Sciences</option>
					<option value="business">Business</option>
					<option value="computing">Computing</option>
					<option value="design and environment">Design and Environment</option>
					<option value="engineering">Engineering</option>
					<option value="music">Music</option>
					<option value="science">Science</option>
					<option value="utown">Utown</option>
				</select> Faculty Select<br>
				<input name="input2" type="text" placeholder="Area"> Area Input<br><br>
			
			<h2>Enter the following as 't' or 'f'<br>(t for true, f for false)</h2>
			<input name="input3" type="text" placeholder="Sleep"> Sleep<br>
			<input name="input4" type="text" placeholder="Shop"> Shop<br>
			<input name="input5" type="text" placeholder="Study"> Study<br>
			<input name="input6" type="text" placeholder="Poop"> Poop<br>
			
			<h2>Enter the following as integers</h2>
			<input name="input7" type="text" placeholder="Sofas"> Sofas<br>
			<input name="input8" type="text" placeholder="Tables"> Tables<br>
			<input name="input9" type="text" placeholder="Sockets"> Sockets<br>
			<input name="input10" type="text" placeholder="Beds"> Beds<br>
			<input name="input11" type="text" placeholder="Shops"> Shops<br>
			<input name="input12" type="text" placeholder="Toilets"> Toilets<br>
			<input type="submit" value="Submit">
		</form>
	</body>
</html>