{% extends 'area.html' %}
{% block sidebar %}
<!--Sidebar 2
======================================================-->
<div class="sidebar" id="sidebar1">
	<p class="pull" id="pull2">Choose another faculty!</p>
	<form hidden class="form-horizontal select-faculty" method="get" action="/poop-choose">
		<h4>Choose another faculty!</h4>
		<div class="form-group">
			<select class="form-control" id="select-pull" name="poop-select">
				<option value="everywhere">EVERYWHERE</option>
				<option value="arts and social sciences">Arts and Social Sciences</option>
				<option value="business">Business</option>
				<option value="central library">Central Library</option>
				<option value="computing">Computing</option>
				<option value="design and environment">Design and Environment</option>
				<option value="engineering">Engineering</option>
				<option value="medicine">Medicine</option>
				<option value="music">Music</option>
				<option value="science">Science</option>
				<option value="utown">Utown</option>
			</select>		
		</div>
		<div class="form-group amenities">
			<div class="checkbox">
				<label>
					<input type="checkbox" name="wantsHandicapped"> Only handicap-friendly toilets
				</label>
			</div>
		</div>
		<button class="btn btn-danger" id="toggle" type="submit">GO!</button>
		<button class="btn btn-default" id="toggle" type="reset">Clear</button>
	</form>
</div>
{% endblock %}
{% block content %}
<h2 class="location">{{Area.buildingfloor}} - {{Area.area}}</h2>
<h2 class="location">{{Area.area}}</h2>
<div class="row">
	<div class="col-md-3">
		<div class="toilet-sign text-center"><i class="fa fa-female toilet"></i></div>
		<h3 class="text-center">LADIES</h3>
		<h4 class="text-center">Cleanliness: {{Area.cleanlinessLadies}} out of 10</h4>
	</div>
	<div class="col-md-6">
	{%if Area.hasHandicapped == "on"%}
		<div class="toilet-sign text-center"><i class="fa fa-wheelchair toilet"></i></div>
		<h3 class="text-center">HANDICAPPED</h3>
		<h4 class="text-center">Cleanliness: {{Area.cleanlinessHandicapped}} out of 10</h4>
	{%else%}
		<img class="img img-responsive" src="http://upload.wikimedia.org/wikipedia/commons/c/c7/Bathroom-gender-sign.png"/>
	{%endif%}
	</div>
	<div class="col-md-3">
		<div class="toilet-sign text-center"><i class="fa fa-male toilet"></i></div>
		<h3 class="text-center">GENTS</h3>
		<h4 class="text-center">Cleanliness: {{Area.cleanlinessLadies}} out of 10</h4>
	</div>
</div>
<hr>
<div class="row">
	<h3>To get here</h3>
	<p>{{Area.directions}}</p>
</div>
{% endblock %}